    /* mobile and iPhone */
@media only screen and (max-device-width: 480px) {
    body{
        height: 100vh;
        overflow-x: hidden;
    }

    nav{
        display: flex;
        justify-content: start;
        width: 480px;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
    }

    nav figure {
        display: none;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 0;
        font-size: 2rem;
    }

    #switch {
        padding: 0;
        margin-top: .2rem;

    }

    .grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1.5rem;
        padding-bottom: 110rem;
    }

    .box-aboutme {
        width: 100%;
        padding: .5rem;
    }

    .box-aboutme p {
        font-size: 2rem;
    }

    .translate-box button,
    .translate-box a {
        padding: .5rem;
        font-size: 1.5rem;
        margin: .5rem;
    }

    .translate-text {
        overflow: scroll;
        scroll-behavior: smooth;
        height: 300px;
        width: 400px;
        
    }

    .translate-box p{
        font-size: 2.5rem;
    } 

    .personal-info {
        overflow: scroll;
        scroll-behavior: smooth;
        position: absolute;
        right: 0;
        left: 1100px;
    }

    .box-habilities {
        padding-top: 4rem;

    }
    .box-habilities ul {
        display: flex;
        justify-content: start;
        gap: 7rem;

    }

    .box-personal-info img {
        width: 350px;
        margin-right: 60px;
    }

    .personal-info {
        left: 0;
        top: 1000px;
        border: none;
        z-index: 0;
    }

    .personal-info p {
        font-size: 2rem;
    }

    .personal-info h3 {
        font-size: 3rem;
    }


    /*PROJECTS -------------- lara.dev */
    #container-projects {
        max-width: 480px;
        overflow: hidden;
    }

    .box-projects {
        display: flex;
        align-items: start;
        justify-content: start;

        overflow-x: hidden;
        height: auto;

        padding: 2rem;

    }

    .box-projects h2 {
        font-size: 2rem;
        margin-left: 5rem;
    }
    
    .animate {
        display: flex;
        justify-content: center;
        align-self: self-start;
    }
    #more {
        font-size: 1.5rem;
        
    }

/*CONTACT-ME -------------- lara.dev */
    .container-contact-me {
        width: 100%;
        overflow: hidden;
    }

    .box-contact-me {
        padding: .2rem;
        margin: .2rem;
    }

    .box-contact-me figure{
        display: none;
    }

    .box-form {
        padding: .2rem;
        margin: .2rem;
    }

    .box-form form {
        max-width: 480px;
        width: 480px;
    }

    .box-form h2{
        font-size: 3rem;
    }

    .box-form textarea {
        width: 300px;
    }

    .box-form button{
        font-size: 2rem;
    }

    .box-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 80%;

        margin: 1rem;
        padding: 0;

        overflow-x: hidden;
    }
    
    .box-footer p {
        font-size: 2rem;
    }

    .box-footer a{
        font-size: 4rem;
    }
}
    

/* default iPad screens */
 @media only screen and (min-width: 768px) {
    
}

/* browsers larger than 960px; */
@media only screen and (min-width: 960px) {
        
}

/* browsers larger than 1440px; */
@media only screen and (min-width: 1440px) {
        
}

/* for sumo sized (mac) screens */
@media only screen and (min-width: 1920px) {
        
}
 

     /* Portrait layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    
}

/* landscape layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
}